<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--project-company</key>
	<string>Tim Horton</string>
	<key>--company-id</key>
	<string>com.hortont</string>
	<key>--create-docset</key>
	<false/>
	<key>--output</key>
	<string>Documentation</string>
	<key>--project-name</key>
	<string>Concrete</string>
	<key>--input</key>
	<array>
		<string>.</string>
	</array>
</dict>
</plist>
